[submodule "3rdParty/glfw"]
	path = 3rdParty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "3rdParty/FFmpeg"]
	path = 3rdParty/FFmpeg
	url = https://github.com/L0rd1k/FFmpeg.git
[submodule "3rdParty/glad"]
	path = 3rdParty/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "3rdParty/imgui"]
	path = 3rdParty/imgui
	url = https://github.com/ocornut/imgui
